body{
    background-color: #ccc;
    width: 100%;
}

#chart{
    background-color: #ccc;
    width: 1000px;
    height: 500px;
    margin: 50px auto;
    border: solid 1px black;
}

svg{
    background-color: #ffffff;
}

.axis line, .axis path{
stroke: #bbb;
}

.axis text{
    fill: #bbb;
}
.axisLabel{
    fill: #bbb;
    font: sans-serif;
    font-size: 10px;
}

#tooltip{
    position: absolute;
    background-color: #ffffff;
    padding: 20px;
    border: solid 1px black;
    opacity: 0;
}