body{
    background-color: #ccc;
    width: 100%;
}

#chart{
    background-color: #ccc;
    width: 1000px;
    height: 500px;
    margin: 50px auto;
    border: solid 1px black;
}

svg{
    background-color: #ffffff;
}

.dot{
    stroke: black;
    stroke-width: 1px;
}

.axis line, .axis path{
stroke: #bbb;
}

.axis text{
    fill: #bbb;
}